.todo{
  display: flex;
  margin: 1rem 0;
}

.check{
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 2rem;
}

.title{
  font-weight: bolder;
  font-size: 1.4rem;
}

.meta{
  display: flex;
  align-items: center;
}

.tags{
  list-style: none;
  margin: none;
}

.tag{
  display: inline-block;
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 2px 5px;
  border-radius: 6px;
  margin: 0px 5px;
}

.date{
  color: var(--color-lite)
}